.container {
  display: flex;
  list-style: none;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    margin-right: var(--u);
    &:hover {
      color: var(--primary);
      cursor: pointer;
    }
    &::after {
      content: ">";
      margin-left: var(--u);
    }
    &:last-of-type {
      &::after {
        content: "";
        margin-left: 0;
        font-weight: normal;
      }
    }
    &:last-of-type {
      font-weight: bold;
    }
  }
}
