.tabsSection {
  max-width: var(--maxWidth);
  margin: 0 auto;
  margin-top: var(--u6);
  border-bottom: 1px solid var(--gray-100);

  .tabs {
    display: flex;
    text-align: center;
    align-items: center;
    width: 300px;

    .tab {
      padding: var(--smallUnit) var(--u2);
      cursor: pointer;
      color: var(--gray-500);
      width: 50%;
      margin: 0;
      font-size: var(--font-24);
    }

    .selected {
      border-bottom: 4px solid;
      border-image: linear-gradient(90deg, #008cf4 0.29%, #34c53a 100.29%);
      border-image-slice: 1;
      color: var(--gray-900);
      font-weight: 600;
    }
  }
}
