.tabsSection {
  max-width: var(--maxWidth);
  margin: 0 auto;
  border-bottom: var(--smallUnit) solid var(--gray-100);

  .tabs {
    display: flex;
    text-align: center;
    align-items: center;
    width: 360px;

    .tab {
      padding: var(--smallUnit) var(--u2);
      cursor: pointer;
      color: var(--gray-500);
      width: 50%;
      margin: 0;
      font-size: var(--font-24);
    }

    .selected {
      border-bottom: 4px solid #34c53a;
      color: var(--gray-900);
      background-color: black;
      color: white;
      margin-bottom: calc(var(--smallUnit) * -1);
    }
  }
}
