.container {
  margin: var(--u6) 0;
  .imagesContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: var(--maxWidth);
    justify-content: space-around;
    align-items: center;
    gap: var(--u3);
    margin-top: var(--u5);

    img {
      cursor: pointer;
      filter: grayscale(100%);

      &:hover {
        filter: grayscale(0%);
      }
    }
  }
}
