.button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--white);
  border: 0;
  border-radius: var(--smallUnit);
  transition: 0.25s all;

  &:hover {
    background-color: var(--primary-hover);
    transition: 0.25s all;
  }
}

.secondary {
  background: var(--secondary);

  &:hover {
    background: var(--secondary-hover);
  }
}

.tertiary {
  background: var(--white);
  color: var(--primary);
  border: 1px solid var(--primary);

  &:hover {
    /*couldn't find another way to make this work without declaring a new variable that contemplates the alpha directly 
      rgba(var(--primary), 0.08) doesn't work. This does.
    */
    background-color: rgba(#4d4de8, 0.08);
  }
}

.disabled {
  background: var(--gray-200);
  color: var(--white);

  &:hover {
    background: var(--gray-200);
    color: var(--white);
  }
}
