.fieldContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: var(--u2);

  .inputContainer {
    width: 100%;
    height: 100%;
    margin-top: var(--u);
    display: flex;
    align-items: flex-end;
    gap: var(--u2);

    .maxButton {
      color: var(--primary);
      font-weight: 600;
      font-size: var(--font-12);
      cursor: pointer;
    }
  }

  .txCost {
    margin-top: var(--u);
    margin: 0;
    font-size: var(--font-12);
    color: var(--gray-900);
    display: flex;
    justify-content: space-between;
    max-width: 270px;
  }

  .buttonContainer {
    height: var(--u4);
    width: 100%;
  }

  .titleContainer {
    display: flex;
    align-items: center;
    gap: var(--u);
  }
}

.error {
  color: var(--error);
  font-size: var(--font-14);
}
