.fieldContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: var(--u2);

  .inputContainer {
    width: 100%;
    height: 100%;
    margin-top: var(--u);
    display: flex;
    align-items: flex-end;
    gap: var(--u2);

    .maxButton {
      color: var(--primary);
      font-weight: 600;
      font-size: var(--font-12);
      cursor: pointer;
    }
  }

  .buttonContainer {
    height: var(--u4);
    width: 100%;
  }
}

.error {
  color: var(--error);
  font-size: var(--font-14);
}
