.container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--gray-100);
  border-bottom: 1px solid var(--gray-100);
  padding: var(--u2) var(--u3);
  align-items: center;
  border-left: 2px solid var(--white);

  &:hover {
    border-left: 2px solid var(--primary);
    cursor: pointer;
  }
  .symbol {
    width: 20%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    .primary {
      margin-bottom: var(--smallUnit);
    }
    .secondary {
      font-size: 0.8em;
      color: var(--gray-100);
    }
  }

  .address {
    width: 50%;
  }

  .collateralFactor {
    width: 20%;
  }
}
