.container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--line);
  border-bottom: 1px solid var(--line);
  padding: var(--u2) var(--u3);
  align-items: center;
  border-left: 2px solid var(--white);
  cursor: pointer;

  .symbol {
    width: 20%;
    font-weight: bold;
    display: flex;
    gap: 20px;
    align-items: center;

    .assetImage {
      width: 40px;
      height: 40px;
    }

    .primary {
      margin-bottom: var(--smallUnit);
      font-size: 1em;
    }
    .secondary {
      font-size: 0.8em;
      color: var(--gray-100);
    }
  }

  .buttonContainer {
    width: 100px;
    height: 40px;
    font-weight: 600;
    font-size: 0.9375em;
  }

  .address {
    width: 50%;
  }

  .collateralFactor {
    width: 20%;
  }
}

.primaryContainer {
  &:hover {
    border-left: var(--smallUnit) solid var(--primary);
  }
}

.secondaryContainer {
  &:hover {
    border-left: var(--smallUnit) solid var(--secondary);
  }
}
