.container {
  border-left: 2px solid var(--white);
  cursor: pointer;
  background: var(--white);
  box-shadow: var(--shadow-tables);
  border-radius: var(--u);

  .summary {
    display: flex;
    align-items: center;
    padding: var(--u2) var(--u3);
    margin: var(--smallUnit) 0;

    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      content: ' ▼';
      color: var(--primary);
    }
  }

  &[open] {
    .summary::after {
      content: ' ▲';
      color: var(--primary);
    }
  }

  .tableContainer {
    padding-left: calc(100% / 6);
    padding-right: 5%;
    padding-bottom: var(--u2);
    width: 100%;
    cursor: auto;

    .table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
      text-align: left;

      thead {
        background: var(--gray-50);
        color: var(--gray-500);
        font-size: var(--font-12);
        border-radius: var(--u);
        margin-bottom: var(--u2);

        th {
          padding: var(--u);
        }
      }

      tbody {
        color: var(--gray-900);

        tr {
          border-bottom: 1px solid var(--gray-100);

          td {
            padding: var(--u2) 0;
            font-size: var(--font-14);

            .usd {
              font-size: var(--font-12);
              color: var(--gray-500);
            }

            .arrow {
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .symbol {
    width: calc(100% / 6);
    font-weight: bold;
    display: flex;
    gap: var(--u2);
    align-items: center;

    .assetImage {
      width: var(--u5);
      height: var(--u5);
    }

    .primary {
      margin-bottom: var(--smallUnit);
      font-size: var(--font-16);
    }
    .secondary {
      font-size: var(--font-12);
      color: var(--gray-100);
    }
  }

  .buttonContainer {
    width: 100px;
    height: var(--u5);
    font-weight: 600;
    font-size: var(--font-14);
    margin: 0 auto;
  }

  .value {
    width: calc(100% / 6);
    color: var(--gray-900);

    .line {
      height: var(--smallUnit);
      width: 90%;
      background: var(--gray-100);
      border-radius: var(--u2);
      height: var(--u);
    }
    .progress {
      @extend .line;
      background: var(--primary);
      border-radius: var(--u2);
    }
  }
}

.primaryContainer {
  &:hover {
    border-left: var(--smallestUnit) solid var(--primary);
  }
}

.secondaryContainer {
  &:hover {
    border-left: var(--smallestUnit) solid var(--secondary);
  }
}
