.container {
  color: var(--black);
  position: absolute;
  font-size: var(--font-14);
  display: flex;
  flex-wrap: wrap;
  gap: var(--u);
  user-select: none;
  cursor: pointer;

  .wallet {
    margin: 0;
  }

  .walletContainer {
    cursor: default;
    position: absolute;
    width: 192px;
    top: 40px;
    right: -15px;
    background: var(--white);
    box-shadow: var(--shadow-tables);
    display: flex;
    flex-direction: column;
    z-index: 6;
    border-radius: var(--smallUnit);
    padding-left: var(--u2);

    .disconnect {
      margin-top: var(--u2);
      display: flex;
      align-items: center;
      gap: var(--smallUnit);
      cursor: pointer;
    }
  }

  .walletContainer:after {
    bottom: 100%;
    left: 89.2%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }

  .networkContainer {
    display: flex;
    gap: var(--smallUnit);
    align-items: center;

    .network {
      margin: 0;
      opacity: var(--defaultOpacity);
      color: var(--black);
    }

    .dot {
      background: var(--success);
      border-radius: 50%;
      width: var(--u);
      height: var(--u);
    }
  }
}
