.container {
  width: var(--maxWidth);
  margin: auto;
  .dataContainer {
    display: flex;
    justify-content: space-between;
    .left {
      width: 30%;
    }
    .right {
      width: 60%;
    }
  }
}
