.post {
  max-width: 580px;

  .title {
    font-size: var(--font-24);
    margin: 0;
    margin-bottom: var(--u2);
    color: var(--gray-900);
  }
  .description {
    color: var(--gray-500);
    line-height: var(--u3);
  }
}
