.assetInfoContainer {
  width: 175px;
  box-shadow: var(--shadow-tables);
  border-radius: var(--u);
  background-color: var(--gray-50);

  .titleContainer {
    border-radius: var(--u);
    width: 100%;
    min-height: var(--u5);
    padding: var(--u) var(--u2);
    font-size: var(--font-14);
    color: var(--gray-500);
    background-color: transparent;
    font-weight: 600;
  }

  .value {
    border-radius: var(--u);
    display: flex;
    padding: var(--u);
    margin: 0 var(--u) var(--u) var(--u);
    background-color: var(--white);
    height: var(--u6);
    align-items: center;
    font-size: var(--font-14);
    font-weight: 600;
  }
}
