.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .mediaContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    .video {
      border-radius: 50%;
      height: 125px;
    }

    .img {
      position: absolute;
      z-index: -1;
    }
  }

  .title {
    text-align: center;
    font-size: var(--font-20);
  }

  .hash {
    border-top: 1px solid var(--gray-100);
    border-bottom: 1px solid var(--gray-100);
    color: var(--black);
    padding: var(--u2) 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;

    .hashTitle {
      opacity: var(--defaultOpacity);
    }
  }

  .link {
    text-align: center;

    .etherscan {
      color: var(--primary);
      font-weight: 500;
      cursor: pointer;
    }
  }
}
