.maturityContainer {
  width: 30%;
  display: flex;
  flex-wrap: wrap;

  .titleContainer {
    width: 100%;
    font-size: var(--font-16);
    color: var(--gray-900);
    font-weight: 700;
  }

  .table {
    background: var(--white);
    box-shadow: var(--shadow-tables);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    border-radius: var(--u);
    width: 100%;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--gray-100);
      padding: var(--u2) 0;

      .assetInfo {
        display: flex;
        align-items: center;
        margin: 0 var(--u3);
        gap: var(--u2);
        color: var(--gray-900);
        font-weight: 600;

        .assetImage {
          height: var(--u5);
          width: var(--u5);
          object-fit: cover;
        }
      }
      .status {
        display: flex;
        gap: var(--smallUnit);
        align-items: center;
        color: var(--gray-500);
        margin: 0 var(--u3);
        font-size: var(--font-12);
        font-weight: 600;
      }

      .warning {
        @extend .status;
        color: var(--error);
      }

      .error {
        @extend .status;
        color: var(--error);
      }
    }

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 var(--u3);
      box-sizing: border-box;
      font-size: var(--font-16);

      &:not(:last-child) {
        border-bottom: 1px solid var(--gray-100);
      }

      .title {
        color: var(--gray-500);
      }
      .value {
        color: var(--gray-900);
        font-weight: 600;
        min-width: var(--u6);
        text-align: right;
      }
    }
  }
}
