.container {
  cursor: pointer;
  min-width: 500px;

  .summary {
    display: flex;
    align-items: center;
    padding: var(--u) var(--u2);
    background-color: #f9f9f9;
    border-bottom: 1px solid #e7e7e7;

    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      content: ' ▼';
      color: var(--primary);
    }
  }

  &[open] {
    .summary::after {
      content: ' ▲';
      color: var(--primary);
    }
  }

  .tableContainer {
    // padding-left: calc(100% / 6);
    padding-right: 5%;
    padding-bottom: var(--u2);
    width: 100%;
    cursor: auto;

    .table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
      text-align: left;
      display: table;

      thead {
        background: var(--gray-50);
        color: var(--gray-500);
        font-size: var(--font-12);
        border-radius: var(--u);
        margin-bottom: var(--u2);

        tr {
          display: flex;
          width: 100%;
          justify-content: space-between;

          th {
            padding: var(--u2) 0;
            display: block;
            width: 20%;
            margin-left: var(--u2);
          }
        }
      }

      tbody {
        color: var(--gray-900);
        display: block;
        width: 100%;
        max-height: calc(51px * 4);
        overflow-y: scroll;

        &::-webkit-scrollbar-track {
          box-shadow: none;
          background-color: transparent;
        }

        &::-webkit-scrollbar {
          width: var(--u);
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--gray-100);
          border-radius: 100px;
        }

        tr {
          border-bottom: 1px solid var(--gray-100);
          width: 100%;
          display: flex;
          justify-content: space-between;
          text-align: left;

          td {
            padding: var(--u2) 0;
            font-size: var(--font-14);
            width: 20%;
            margin-left: var(--u2);

            .usd {
              font-size: var(--font-12);
              color: var(--gray-500);
            }

            .arrow {
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .symbol {
    width: calc(100% / 6);
    font-weight: bold;
    display: flex;
    gap: var(--u2);

    .primary {
      font-size: var(--font-14);
    }
    .secondary {
      font-size: var(--font-12);
      color: var(--gray-100);
    }
  }

  .buttonContainer {
    width: 97px;
    height: 27px;
    font-size: var(--font-14);
    margin-right: 10px;
    margin-left: auto;
  }

  .value {
    width: calc(100% / 6);
    color: var(--gray-900);
    font-size: 14px;

    .line {
      height: var(--smallUnit);
      width: 90%;
      background: var(--gray-100);
      border-radius: var(--u2);
      height: var(--u);
    }
    .progress {
      @extend .line;
      background: var(--secondary);
      border-radius: var(--u2);
    }
    .fullProgress {
      @extend .line;
      background: var(--primary);
      border-radius: var(--u2);
    }
  }
}

.primaryContainer {
  &:hover {
    border-left: var(--smallestUnit) solid var(--primary);
  }
}

.secondaryContainer {
  &:hover {
    border-left: var(--smallestUnit) solid var(--secondary);
  }
}
