.container {
  max-width: var(--maxWidth);
  margin: var(--navbarHeight) auto;

  .assetData {
    display: flex;
    align-items: flex-end;
    .assetContainer {
      width: 200px;
    }
    .assetMetricsContainer {
      margin: var(--u3) 0px;
      display: flex;
      .assetMetrics {
        margin: 0 var(--u3);
        .title {
          color: var(--gray-500);
          display: block;
          font-size: var(--font-12);
          font-weight: 600;
        }
        .value {
          color: var(--gray-900);
          margin-top: var(--u);
          display: block;
        }
      }
    }
  }

  .graphContainer {
    display: flex;
    margin-bottom: var(--u6);

    .leftColumn {
      max-width: 60%;
      width: 100%;
    }
    .assetGraph {
      width: 100%;
      padding: 0 var(--u4);
    }
  }

  .assetTitle {
    font-size: var(--font-20);
    color: var(--gray-900);
  }

  .assetInfoContainer {
    display: flex;
    max-width: 45%;
    margin-bottom: var(--u5);
    gap: var(--u3);
  }

  .maturitiesContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: var(--maxWidth);
    gap: var(--u4);
    justify-content: space-between;
  }

  .smartPoolContainer {
    display: flex;
    gap: var(--u4);
    margin-top: calc(var(--navbarHeight) * 1.5);
    margin-bottom: var(--u6);
  }
}
