.navBar {
  position: fixed;
  width: 100%;
  height: var(--navbarHeight);
  padding: var(--u2);
  box-sizing: border-box;
  box-shadow: var(--shadow-header-mob);
  background: var(--white);
  top: 0;
  z-index: 4;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--maxWidth);
    margin: 0 auto;

    .left {
      display: flex;
      align-items: center;
      .logo {
        cursor: pointer;
      }

      .linksContainer {
        display: flex;
        gap: 40px;
        list-style: none;
        font-weight: 600;

        .link {
          color: var(--gray-500);
          cursor: pointer;
          padding: 5px;

          &:hover {
            border-bottom: 2px solid var(--gray-900);
            a {
              color: var(--gray-900);
            }
          }
        }

        .active {
          @extend .link;
          border-bottom: 2px solid;
          border-image: linear-gradient(90deg, #7bf5e1 0.29%, #4d4de8 100.29%);
          border-image-slice: 1;

          a {
            color: var(--gray-900);
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;

      .buttonContainer {
        width: 150px;
        height: 50px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (max-width: 769px) {
  .navBar {
    display: none;
  }
}
