.container {
  display: flex;
  padding: var(--u) var(--u2);
  align-items: center;
  background: #f9f9f9;
  border-bottom: 1px solid #e7e7e7;

  .symbol {
    cursor: pointer;
    width: calc(100% / 5);
    font-weight: bold;
    display: flex;
    gap: var(--u2);
    align-items: center;

    .primary {
      width: calc(100% / 5);
      font-size: var(--font-14);
    }
    .secondary {
      font-size: var(--font-12);
      color: var(--gray-100);
    }
  }

  .actions {
    display: flex;
    margin-left: auto;

    .buttonContainer {
      min-width: 78px;
      height: 37px;
      font-weight: 600;
      font-size: var(--font-14);
      margin: var(--smallUnit);
    }
  }

  .value {
    width: calc(100% / 5);
    color: var(--gray-900);
    font-size: 14px;

    .line {
      height: var(--smallUnit);
      width: 90%;
      background: var(--gray-100);
      border-radius: var(--u2);
      height: var(--u);
    }
    .progress {
      @extend .line;
      background: var(--primary);
    }

    .loadingContainer {
      margin-left: var(--u2);
    }
  }
}

.primaryContainer {
  &:hover {
    border-left: var(--smallestUnit) solid var(--primary);
  }
}

.secondaryContainer {
  &:hover {
    border-left: var(--smallestUnit) solid var(--secondary);
  }
}
