.tooltipContainer {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;

  .tooltip {
    display: block;
    position: absolute;
    background: var(--tooltip-background);
    color: var(--white);
    padding: var(--u) var(--u2);
    font-size: var(--font-14);
    z-index: var(--layer-4);
    bottom: 125%;
    border-radius: var(--smallUnit);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    .arrowUp {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid var(--tooltip-background);
      position: absolute;
      bottom: -5px;
      right: calc(50% - 5px);
    }

    .text {
      width: max-content;
      max-width: 200px;
      margin: 0;
    }
  }

  .show {
    display: block;
  }

  .hidden {
    display: none;
  }
}
