.container {
  display: flex;
  padding: var(--u2) var(--u3);
  align-items: center;
  border-left: 2px solid var(--white);
  cursor: pointer;
  background: var(--white);
  gap: var(--u2);
  margin: var(--smallUnit);

  .symbol {
    width: calc(100% / 4);
    font-weight: bold;
    display: flex;
    gap: var(--u2);
    align-items: center;

    .assetImage {
      width: var(--u5);
      height: var(--u5);
    }

    .primary {
      width: 100%;
      font-size: var(--font-16);
    }
    .secondary {
      font-size: var(--font-12);
      color: var(--gray-100);
    }
  }

  .buttonContainer {
    width: 100px;
    height: var(--u5);
    font-weight: 600;
    font-size: var(--font-14);
  }

  .address {
    width: calc(100% / 4);
  }

  .value {
    width: calc(100% / 4);
    color: var(--gray-900);
    margin: 0;

    .exchange {
      font-size: var(--font-12);
    }
  }
}

.primaryContainer {
  &:hover {
    border-left: var(--smallestUnit) solid var(--primary);
  }
}

.secondaryContainer {
  &:hover {
    border-left: var(--smallestUnit) solid var(--secondary);
  }
}
