.container {
  display: flex;
  justify-content: space-between;
  padding: var(--u2) var(--u3);
  align-items: center;
  border-left: 2px solid var(--white);
  cursor: pointer;
  background: var(--white);
  margin: var(--smallUnit);

  .symbol {
    width: 20%;
    font-weight: bold;
    display: flex;
    gap: var(--u3);
    align-items: center;

    .assetImage {
      width: 40px;
      height: 40px;
    }

    .primary {
      margin-bottom: var(--smallUnit);
      font-size: var(--font-16);
    }
    .secondary {
      font-size: var(--font-12);
      color: var(--gray-100);
    }
  }

  .buttonContainer {
    width: 100px;
    height: 40px;
    font-weight: 600;
    font-size: var(--font-14);
  }

  .address {
    width: 50%;
  }

  .value {
    width: 20%;
    color: var(--tertiary);
  }
}

.primaryContainer {
  &:hover {
    border-left: var(--smallestUnit) solid var(--primary);
  }
}

.secondaryContainer {
  &:hover {
    border-left: var(--smallestUnit) solid var(--secondary);
  }
}
