.row {
  display: flex;
  justify-content: space-between;
  padding: var(--u2) 0;

  .text {
    margin: 0;
    color: var(--text-color);
  }
  .values {
    margin: 0;
    display: flex;
    gap: var(--u);
    position: relative;
    font-weight: 600;
    min-width: fit-content;
    align-items: center;

    .value {
      min-width: var(--u6);
      text-align: right;
    }
  }
}

.line {
  border-bottom: var(--dashed-line);
}
