.container {
  width: var(--max-width);

  .date {
    color: var(--gray-500);
    font-weight: bold;
  }

  .market {
    background: var(--gray-50);
    border-radius: var(--u);
    display: flex;
    flex-wrap: wrap;

    h2 {
      margin: var(--u) 0 var(--u3) 0;
      padding: var(--u3) var(--u3) 0;
      width: 100%;
    }

    .column {
      width: 100%;

      .tableRow {
        display: flex;
        padding: var(--u2) var(--u3);
        font-weight: bold;
        color: var(--gray-500);
        font-size: var(--font-12);
        align-items: center;

        .symbol {
          width: 20%;
        }

        .address {
          width: 50%;
        }

        .title {
          width: 20%;
        }
      }
    }
  }
}
