.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: var(--u4);
  padding-top: var(--u2);
  border-top: 1px solid var(--gray-100);
  gap: var(--u2);
  max-width: var(--maxWidth);

  .sectionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .titleContainer {
      display: flex;
      align-items: center;
      gap: var(--smallUnit);
      .title {
        color: var(--gray-900);
        font-size: var(--font-20);
        font-weight: bold;
      }
    }

    .buttonContainer {
      width: 225px;
      height: var(--u5);
      font-weight: 600;
      font-size: var(--font-14);
      margin-right: 4%;
    }
  }

  .line {
    border-bottom: 1px solid var(--gray-100);
    width: 100%;
  }
}

@media (max-width: 769px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
