.formContainer {
  position: fixed;
  width: 400px;
  height: fit-content;
  left: calc(50% - 224px);
  top: 15%;
  background: var(--white);
  box-shadow: var(--shadow-tables);
  padding: var(--u3) var(--u9);
  display: flex;
  flex-direction: column;
  z-index: 6;
  border-radius: var(--smallUnit);
}

@media (max-width: 769px) {
  .formContainer {
    width: 90%;
    max-height: 90%;
    left: 5%;
    top: 5%;
  }
}
