.footer {
  width: 100%;
  margin-top: 50px;
  display: flex;

  .container {
    width: var(--maxWidth);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10px;

    .left {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
      align-self: center;

      .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--u5);
      }

      .link {
        border-right: 1px solid #e1e1e1;
        padding: 0 var(--u2);
        text-decoration: none;
        font-weight: 600;
        font-size: var(--font-14);
        opacity: var(--defaultOpacity);

        &:hover {
          color: var(--primary-hover);
        }
      }
    }

    .right {
      display: flex;
      gap: 30px;
      font-size: var(--font-14);
      opacity: var(--defaultOpacity);
    }
  }
}

@media (max-width: 769px) {
  .footer {
    .container {
      width: 90%;
      justify-content: center;
      align-items: center;
      gap: var(--u3);

      .left {
        gap: var(--u2);
      }
    }
  }
}
