.modal {
  position: fixed;
  width: 40%;
  height: fit-content;
  left: 30%;
  top: 20%;
  background: var(--background);
  box-shadow: var(--shadow-tables);
  z-index: var(--layer-6);
  display: flex;
}
