.row {
  display: flex;
  padding: var(--u) 0;

  .text {
    width: 50%;
    margin: 0;
    margin-right: auto;
    color: var(--gray-500);
  }
  .value {
    width: auto;
    text-align: right;
    margin: 0;
    margin-left: 3px;
    color: var(--gray-900);
    font-weight: 600;
  }
}

.line {
  border-bottom: 1px solid var(--gray-100);
}
