.row {
  display: flex;
  justify-content: space-between;
  padding: var(--u2) 0;

  .text {
    width: 100%;
    margin: 0;
    color: var(--gray-500);
  }
  .value {
    width: 50%;
    text-align: right;
    margin: 0;
    color: var(--gray-900);
    font-weight: 600;
  }
}

.line {
  border-bottom: 1px solid var(--gray-100);
}
