@function calcRgbaColor($index, $leftSide, $type) {
  $from-r: 0; // end red rgb value
  $from-g: 140; // end green rgb value
  $from-b: 244; // end blue rgb value
  $to-r: 52; // start red rgb value
  $to-g: 197; // start green rgb value
  $to-b: 58; // start blue rgb value
  $from: rgba($from-r, $from-g, $from-b, 1); //values in rgba
  $to: rgba($to-r, $to-g, $to-b, 1); // values in rgba

  $add: $index + 1;

  @if $leftSide == true {
    $add: $index - 1;
  }

  @if $type == 'incomplete' {
    $to-r: 52; // end red rgb value
    $to-g: 197; // end green rgb value
    $to-b: 58; // end blue rgb value
    $from: rgba($from-r, $from-g, $from-b, 1); // values in rgba
    $to: rgba($to-r, $to-g, $to-b, 1); //values in rgba
  }

  @if $type == 'elapsed' {
    $from-r: 241; // start red rgb value
    $from-g: 157; // start green rgb value
    $from-b: 43; // start blue rgb value
    $to-r: 175; // end red rgb value
    $to-g: 6; // end green rgb value
    $to-b: 6; // end blue rgb value
    $from: rgba($from-r, $from-g, $from-b, 1); //values in rgba
    $to: rgba($to-r, $to-g, $to-b, 1); // values in rgba
  }

  @return rgba(
    $from-r + $add * ($to-r - $from-r) / 26,
    $from-g + $add * ($to-g - $from-g) / 26,
    $from-b + $add * ($to-b - $from-b) / 26,
    1
  );
}

@for $i from 1 through 26 {
  .track > .fullBar:nth-child(#{$i}) {
    background: linear-gradient(
      to bottom right,
      calcRgbaColor($i, true, 'full'),
      calcRgbaColor($i, false, 'full')
    );

    background: linear-gradient(
      to bottom right,
      calcRgbaColor($i, true, 'full'),
      calcRgbaColor($i, false, 'full')
    );
  }

  .track > .incompleteBar:nth-child(#{$i}) {
    background: linear-gradient(
      to bottom right,
      calcRgbaColor($i, true, 'incomplete'),
      calcRgbaColor($i, false, 'incomplete')
    );
    background: linear-gradient(
      to bottom right,
      calcRgbaColor($i, true, 'incomplete'),
      calcRgbaColor($i, false, 'incomplete')
    );
  }

  .track > .elapsedBar:nth-child(#{$i}) {
    background: linear-gradient(
      to bottom right,
      calcRgbaColor($i, true, 'elapsed'),
      calcRgbaColor($i, false, 'elapsed')
    );
    background: linear-gradient(
      to bottom right,
      calcRgbaColor($i, true, 'elapsed'),
      calcRgbaColor($i, false, 'elapsed')
    );
  }
}

.container {
  .infoContainer {
    display: flex;
    gap: var(--u4);
    flex-wrap: wrap;

    .dateContainer {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      // gap: var(--u2);
      // margin-bottom: var(--u4);

      .title {
        margin: 0;
        color: var(--gray-500);
        font-weight: 600;
      }

      .date {
        margin: 0;
        color: var(--gray-900);
        font-weight: bold;
        font-size: var(--font-20);
      }

      .progress {
        width: 250px;

        .track {
          width: fit-content;
          height: var(--u3);
          display: flex;

          .fullBar {
            height: var(--u3);
            width: var(--smallUnit);
            border-radius: var(--smallestUnit);
            margin-right: var(--smallestUnit);

            &:not(:first-child) {
              margin-left: var(--smallestUnit);
            }
          }

          .incompleteBar {
            height: var(--u3);
            width: var(--smallUnit);
            border-radius: var(--smallestUnit);
            margin-right: var(--smallestUnit);

            &:not(:first-child) {
              margin-left: var(--smallestUnit);
            }
          }

          .elapsedBar {
            height: var(--u3);
            width: var(--smallUnit);
            border-radius: var(--smallestUnit);
            margin-right: var(--smallestUnit);

            &:not(:first-child) {
              margin-left: var(--smallestUnit);
            }
          }

          .emptyBar {
            height: var(--u3);
            width: var(--smallUnit);
            border-radius: var(--smallestUnit);
            margin-left: var(--smallestUnit);
            margin-right: var(--smallestUnit);
            background: var(--gray-200);
          }
        }
      }
    }
  }

  .market {
    // background-color: var(--background);
    // box-shadow: var(--shadow-tables);
    // border-radius: var(--u);
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;

    h2 {
      margin: var(--u) 0 var(--u3) 0;
      padding: var(--u3) var(--u3) 0;
      width: 100%;
    }

    .column {
      width: 100%;
      overflow-x: auto;

      .tableRow {
        display: flex;
        padding: var(--u) var(--u3);
        font-weight: bold;
        color: var(--gray-500);
        font-size: var(--font-12);
        align-items: center;
        min-width: 500px;

        .symbol {
          width: calc(100% / 6);
        }

        .address {
          width: 50%;
        }

        .title {
          width: calc(100% / 6);
        }
      }
    }
  }
}
