.specialText {
  width: 60%;
  text-align: center;
  margin-bottom: 40px;

  .text {
    opacity: var(--defaultOpacity);
  }

  .second {
    margin: 0;
  }
  .first {
    margin: 0;
  }

  .blue {
    background: var(--primary);
    color: var(--white);
    transition: all 500ms linear;
  }

  .green {
    background: var(--secondary);
    color: var(--white);
    transition: all 500ms linear;
  }

  .space {
    padding-left: var(--smallUnit);
    padding-right: var(--smallUnit);
  }
}

@media (max-width: 769px) {
  .specialText {
    width: 100%;
  }
}
