.specialText {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'first first .'
    '. second second';
  margin-bottom: 40px;

  .text {
    opacity: var(--defaultOpacity);
  }

  .second {
    grid-area: second;
    margin: 0;
  }
  .first {
    grid-area: first;
    margin: 0;
  }

  .blue {
    background: var(--primary);
    color: var(--white);
    transition: all 500ms linear;
  }

  .green {
    background: var(--secondary);
    color: var(--white);
    transition: all 500ms linear;
  }

  .space {
    padding-left: var(--smallUnit);
    padding-right: var(--smallUnit);
  }
}
