.container {
  max-width: var(--maxWidth);
  width: 100%;
  margin: var(--u2) auto;
  display: flex;
  flex-wrap: wrap;
  gap: var(--u3);
  text-align: center;

  .market {
    background-color: var(--white);
    box-shadow: var(--shadow-tables);
    border-radius: var(--u);
    display: flex;
    flex-wrap: wrap;
    width: calc(50% - var(--u2));

    h2 {
      margin: var(--u) 0 var(--u3) 0;
      padding: var(--u3) var(--u3) 0;
      width: 100%;
    }

    .column {
      width: 100%;

      .tableRow {
        display: flex;
        padding: var(--u) var(--u3);
        justify-content: space-between;
        font-weight: bold;
        color: var(--gray-500);
        font-size: var(--font-12);
        align-items: center;

        .symbol {
          width: 15%;
        }

        .address {
          width: 50%;
        }

        .title {
          width: 15%;
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .container {
    max-width: 100%;
    padding: 20px;
    text-align: center;
    .market {
      width: 100%;
    }
  }
}
