.faucetContainer {
  display: flex;
  flex-direction: column;
  gap: var(--u);

  .title {
    margin: var(--u) 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray-100);
    gap: var(--u);

    p {
      width: 30%;
      font-size: var(--font-14);
      font-weight: 600;
      color: var(--gray-500);
      margin: var(--u) 0;
    }
  }

  .assetContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray-100);
    gap: var(--u);
    padding: var(--u2) 0;

    &:last-child {
      border-bottom: none;
    }

    .asset {
      display: flex;
      align-items: center;
      gap: var(--u);
      font-size: var(--font-18);
      font-weight: 600;
      width: 30%;
      margin: 0;

      .assetImage {
        width: 25px;
      }
    }

    .balance {
      width: 30%;
    }

    .buttonContainer {
      width: 30%;
      height: 30px;
    }
  }
}
