.steps {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .step {
    width: var(--u2);
    height: var(--u2);
    border-radius: 50%;
    background: var(--gray-200);
    position: relative;

    &:not(:first-child):after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      width: 1000%;
      border-bottom: solid 2px var(--gray-200);
      z-index: -1;
    }
  }

  .selectedStep {
    @extend .step;
    background: var(--primary);
    &:not(:first-child):after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      width: 1000%;
      border-bottom: solid 2px var(--primary);
      z-index: -1;
    }
  }
}
