.sectionContainer {
  max-width: var(--maxWidth);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: var(--u5);
  text-align: center;
  align-items: center;

  .titleContainer {
    display: flex;
    gap: var(--u);
    text-align: center;
    align-items: center;

    .title {
      font-size: var(--font-20);
      font-weight: bold;
    }
  }
}

.sectionContainerEditable {
  @extend .sectionContainer;
  justify-content: right;
  width: 65%;
}

@media (max-width: 769px) {
  .container {
    width: 90%;
  }
}
