.container {
  max-width: var(--maxWidth);
  width: 100%;
  margin: var(--u2) auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  text-align: center;
  align-items: center;

  .title {
    font-size: var(--font-20);
    font-weight: bold;
    display: flex;
    align-items: center;
  }
}
