.table {
  width: 100%;
  box-shadow: var(--shadow-tables);
  border-radius: var(--u);

  .row {
    padding: var(--u2);
    height: 110px;
    width: 100%;
    border-bottom: 1px solid var(--gray-100);
    display: flex;
    justify-content: space-between;
    height: var(--u6);
    color: var(--gray-500);
    font-size: var(--font-14);
    font-weight: 600;

    .maturity {
      width: 50%;
    }

    .lastFixedRate {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .actions {
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
