.table {
  max-width: 60%;
  width: 100%;
  box-shadow: var(--shadow);
  border-radius: var(--u);
  .row {
    padding: var(--u2);
    height: 110px;
    width: 100%;
    border-bottom: 1px solid var(--line);
    display: flex;
    justify-content: space-between;
    &:first-of-type {
      height: var(--u6);
      color: var(--gray-200);
      font-size: var(--font-14);
    }
    .maturity {
      width: 40%;
      span {
        display: block;
        margin: var(--u) 0;
        font-weight: bold;
        &.liquidity {
          color: var(--gray-200);
          font-weight: normal;

        }
      }
    }
    .lastFixedRate {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .deposit {
        color: var(--primary);
        font-weight: bold;
      }

      .borrow {
        color: var(--secondary);
        font-weight: bold;
      }
    }
    .actions {
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .buttonContainer {
        height: var(--u4);
        color: var(--white);
        &.deposit {
          background-color: var(--primary);
        }
        &.borrow {
          background-color: var(--secondary);
        }
      }
    }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}