.table {
  max-width: 60%;
  width: 100%;
  box-shadow: var(--shadow);
  border-radius: var(--u);
  .row {
    padding: var(--u2);
    height: 100px;
    width: 100%;
    border-bottom: 1px solid var(--line);
    display: flex;
    &:first-of-type {
      height: var(--u6);
      color: var(--gray-200);
      font-size: 14px;
    }
    .maturity {
      width: 40%;
      span {
        display: block;
        margin: var(--u) 0;
        font-weight: bold;
        &.liquidity {
          color: var(--gray-200);
          font-weight: normal;

        }
      }
    }
  }
}