@import 'react-loading-skeleton/dist/skeleton.css';
@import url('https://use.typekit.net/vah2ljw.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'articulat-cf';
  background-color: var(--background);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.web3modal-modal-lightbox {
  z-index: var(--layer-10) !important;
}

html::-webkit-scrollbar-track {
  background-color: #e1e1e1;
}

html::-webkit-scrollbar {
  width: var(--u);
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: #8f8c9c;
  border-radius: 100px;
}
