:root {
  /* GRID */
  --smallestUnit: 2px;
  --smallUnit: 4px;
  --u: 8px;
  --u2: 16px;
  --u3: 24px;
  --u4: 32px;
  --u5: 40px;
  --u6: 48px;
  --u7: 56px;
  --u8: 64px;
  --u9: 72px;

  /* WIDTH */
  --maxWidth: 1250px;

  /* FONT SIZES */
  --font-10: 0.625em;
  --font-12: 0.75em;
  --font-14: 0.875em;
  --font-16: 1em;
  --font-18: 1.125em;
  --font-20: 1.25em;
  --font-24: 1.5em;
  --font-32: 2em;
  --font-42: 2.625em;
  --font-64: 4em;
  --font-80: 5em;

  /* COLORS */
  --white: #fff;
  --gray-50: #fafafa;
  --gray-100: #e1e1e1;
  --gray-200: #cccccc;
  --gray-500: #8f8c9c;
  --gray-900: #1f1939;
  --black: #000;

  --primary: #4d4de8;
  --primary-hover: #3b3abd;
  --primary-50: #f6f6fe;
  --primary-100: #d4d4fa;
  --primary-200: #a6a6f4;

  --secondary-brand: #7bf5e1;
  --secondary: #53d3be;
  --secondary-hover: #1dac95;

  --shadow-tables: 0px 0px 10px rgba(0, 0, 0, 0.15);
  --shadow-header-mob: 0px 2px 4px rgba(0, 0, 0, 0.15);

  --error: #af0606;
  --success: #63ca10;

  /* NAVBAR */
  --navbarHeight: 88px;

  /* OPACITY */
  --defaultOpacity: 50%;
}
